$font-stack: 'Fakt Pro', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

html,
body {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  color: $woodsmoke;
}

.btn {
  font-weight: 500;
}
