$black: #000000;       // Black
$woodsmoke: #17181A;   // Almost-Black
$abbey: #484A4D;       // Gray-1
$oslo-gray: #919599;   // Gray-2
$silver-sand: #BABCBF; // Gray-3
$iron: #D4D7D9;        // Gray-4
$porcelain: #E8EBED;   // Gray-5
$aqua-haze: #F7F9FA;   // Gray-6
$alto: #D8D8D8;        // Gray-7
$wild-sand: #F4F4F4;   // Gray-8
$white: #FFFFFF;       // White

$dodger-blue: #409FFF; // Blue
$science-blue: #0073e5;// Blue Hover
$flamingo: #E65050;    // Red
$pastel-green: #74D985;// Green
$coral: #FF9045;       // Orange
$romantic: #FFCCB9;    // Full bleed Illustration background
$dab: #FFDDAB;         // Navajo White — This Works
